<footer class="footer">
  <div class="container footer-container">
    <div class="footer-div">
      <h2 hidden>Footer section</h2>
      <div class="footer-div-logo">
        <div class="footer-div-logo-and-text">
          <img
            src="./img/footer/tel-logo@1x.png"
            srcset="
              ./img/footer/tel-logo@1x.png 1x,
              ./img/footer/tel-logo@2x.jpg 2x
            "
            alt="Woman with fresh bananas"
            width="335"
            class="footer-img one"
          />
          <img
            src="./img/footer/tab-desk-logo@1x.png"
            srcset="
              ./img/footer/tab-desk-logo@1x.png 1x,
              ./img/footer/tab-desk-logo@2x.jpg 2x
            "
            alt="Woman with fresh bananas"
            width="349"
            class="footer-img two"
          />
          <a class="footer-link" href="../index.html">
            <svg class="footer-svg" width="16" height="16">
              <use href="./img/icon.svg#icon-vector-6"></use>
            </svg>
            <p class="footer-text">fresh harvest box</p>
          </a>
        </div>
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a href="#how-it-works">How It Works</a>
          </li>
          <li class="footer-menu-item">
            <a href="#fruits">Fruits</a>
          </li>
          <li class="footer-menu-item">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer-socials">
        <div class="footer-socials-div">
          <ul class="footer-socials-list">
            <li>
              <a
                class="footer-socials-link"
                href="https://facebook.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook icon"
              >
                <svg class="footer-socials-svg" width="24" height="24">
                  <use href="./img/icon.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="footer-socials-link"
                href="https://instagram.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram icon"
              >
                <svg class="footer-socials-svg" width="24" height="24">
                  <use href="./img/icon.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="footer-socials-link"
                href="https://youtube.com"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Youtube icon"
              >
                <svg class="footer-socials-svg" width="24" height="24">
                  <use href="./img/icon.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-div-address">
          <address class="footer-address">
            <ul class="footer-address-list">
              <li class="footer-address-item">
                <a href="tel:+380684439426" class="">+380 (68) 443-94-26</a>
              </li>
              <li class="footer-address-item">
                <a
                  href="https://goo.gl/maps/NcAdATMJySbre9q66?coh=178573&entry=tt"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  1678 S. Pioneer Road<br />
                  Salt Lake City UT<br />
                  84104
                </a>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
