<section class="fruits">
  <div class="container">
    <div class="fruits-container">
      <h2 class="fruits-title">ORGANIC FRUITS</h2>
      <p class="fruits-text">
        Our organic fruits are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible. We offer a wide selection of organic fruits
        grown without the use of harmful pesticides or chemicals.
      </p>
    </div>
    <ul class="menu-fruits card-set">
      <li class="fruits-item strawberry">
        <div class="fruits-list">
          <h3 class="subtitle-description">Strawberry</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="
              ../img/fruits/Strawberry@1x.png 1x,
              ../img/fruits/Strawberry@2x.png 2x
            "
            src="../img/fruits/Strawberry@1x.png"
            alt="Strawberry"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">100 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item banana">
        <div class="fruits-list">
          <h3 class="subtitle-description">Banana</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="
              ../img/fruits/Banana@1x.png 1x,
              ../img/fruits/Banana@2x.png 2x
            "
            src="../img/fruits/Banana@1x.png"
            alt="Banana"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">80 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item watermelon">
        <div class="fruits-list">
          <h3 class="subtitle-description">Watermelon</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="
              ../img/fruits/Watermelon@1x.png 1x,
              ../img/fruits/Watermelon@2x.png 2x
            "
            src="../img/fruits/Watermelon@1x.png"
            alt="Watermelon"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">40 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item lime">
        <div class="fruits-list">
          <h3 class="subtitle-description">Lime</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="../img/fruits/Lime@1x.png 1x, ../img/fruits/Lime@2x.png 2x"
            src="../img/fruits/Lime@1x.png"
            alt="Lime"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">60 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item apple">
        <div class="fruits-list">
          <h3 class="subtitle-description">Apple</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="
              ../img/fruits/Apple@1x.png 1x,
              ../img/fruits/Apple@2x.png 2x
            "
            src="../img/fruits/Apple@1x.png"
            alt="Apple"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">50 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item peach">
        <div class="fruits-list">
          <h3 class="subtitle-description">Peach</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="
              ../img/fruits/Peach@1x.png 1x,
              ../img/fruits/Peach@2x.png 2x
            "
            src="../img/fruits/Peach@1x.png"
            alt="Peach"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">80 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item plums">
        <div class="fruits-list">
          <h3 class="subtitle-description">Plums</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="
              ../img/fruits/Plums@1x.png 1x,
              ../img/fruits/Plums@2x.png 2x
            "
            src="../img/fruits/Plums@1x.png"
            alt="Plums"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">40 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item orange">
        <div class="fruits-list">
          <h3 class="subtitle-description">Orange</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="
              ../img/fruits/Orange@1x.png 1x,
              ../img/fruits/Orange@2x.png 2x
            "
            src="../img/fruits/Orange@1x.png"
            alt="Orange"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">60 UAH / kg</span>
        </div>
      </li>
      <li class="fruits-item kiwi">
        <div class="fruits-list">
          <h3 class="subtitle-description">Kiwi</h3>
          <p class="description-text">Plant</p>
          <img
            class="fruits-img"
            srcset="../img/fruits/Kiwi@1x.png 1x, ../img/fruits/Kiwi@2x.png 2x"
            src="../img/fruits/Kiwi@1x.png"
            alt="Kiwi"
            width="295"
            height="276"
            loading="lazy"
          />
          <span class="fruits-price">90 UAH / kg</span>
        </div>
      </li>
    </ul>
   <button class="button-title" type="button" data-modal-open name="ORDER">
        <svg class="fruits-icon" width="14" height="14">
          <use href="../img/icon.svg#icon-Vector"></use></svg
        >ORDER
      </button>
  </div>
</section>
