<header class="header">
  <div class="conteiner">
    <div class="header-left-side">
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#how-it-works" class="nav-link">How It Works</a>
          </li>
          <li class="nav-item">
            <a href="#fruits" class="nav-link">Fruits</a>
          </li>
          <li class="nav-item">
            <a href="#contacts" class="nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <a href="" class="logo">
        <svg class="logo-icon" width="156" height="18">
          <use href="./img/icon.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <!-- ^Mob menu buttons -->
    <div class="mob-menu-btn-box">
      <button class="mob-menu-btn js-open-menu" type="button" >
        <svg class="mob-menu-icon" width="24" height="24">
          <use href="./img/icon.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <button class="mob-menu-btn js-close-menu hidden" type="button" >
        <svg class="mob-menu-close-btn" width="24" height="24">
          <use href="./img/icon.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <!-- ^/mob menu buttopns -->
    <a class="basket">
      <svg class="basket-icon" width="24" height="24">
        <use href="./img/icon.svg#icon-basket"></use>
      </svg>
    </a>
  </div>
</header>
<div class="mob-menu conteiner js-menu-container" >
  
  <ul class="mob-nav-list">
    <li class="mob-nav-item">
      <a href="#how-it-works" class="mob-nav-link nav-link">
        How It Works
      </a>
    </li>
    <li class="mob-nav-item">
      <a href="#fruits" class="mob-nav-link nav-link">
        Fruits
      </a>
    </li>
    <li class="mob-nav-item">
      <a href="#contacts" class="mob-nav-link nav-link">
        Contacts
      </a>
    </li>
    <li class="mob-nav-item">
      <a href="" class="basket mob-basket">
        <svg class="mob-bas" width="24" height="24">
          <use href="./img/icon.svg#icon-basket"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
