<section>
  <div class="container hero">
    <div class="hero-baner">
      <h2 class="hero-title">
        fresh harvest box<br />is your one-stop place for a delicious fruit
        basket
      </h2>
      <picture>
        <!-- Tablet and desktop -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/hero-img-tab.png    1x,
            ./img/hero/hero-img-tab_2x.png 2x
          "
          type="image/png"
        />
        <!-- ^ Mob -->
        
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/hero-img-mob.png    1x,
            ./img/hero/hero-img-mob_2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero-img"
          src="./img/hero/hero-img-mob.png"
          alt="girl with fruit"
          loading="lazy"
        />
      </picture>
    </div>
    <button class="button-hero" type="button">
      <a href="#fruits">shop now</a>
    </button>
    <div class="hero-fruits">
      <p class="hero-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="watermelow">
        <p class="card-title">Fruit</p>
        <img
          class="watermelon-hero"
          srcset="
            ./img/hero/waterlmelon.png    1x,
            ./img/hero/waterlmelon_2x.png 2x
          "
          src="./img/hero/waterlmelon.png"
          alt="watermelon"
          width="200"
          loading="lazy"
        />
        <p class="card_text">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
      <div class="hero-tegs-block">
        <ul class="hero-tegs-list">
          <li class="hero-tegs">
            <h3 class="hero-tegs-txt">#organic</h3>
          </li>
          <li class="hero-tegs">
            <h3 class="hero-tegs-txt">#products</h3>
          </li>
          <li class="hero-tegs">
            <h3 class="hero-tegs-txt">#basket</h3>
          </li>
          <li class="hero-tegs">
            <h3 class="hero-tegs-txt">#fruits</h3>
          </li>
        </ul>
      </div>
      <div class="basket-strawberry">
        <p class="card-title">Fruit</p>
        <img
          class="basket_strawberry_img"
          srcset="
            ./img/hero/basket_strawberry.png    1x,
            ./img/hero/basket_strawberry_2x.png 2x
          "
          src="./img/hero/basket_strawberry.png"
          alt="basket strawberry"
          width="162"
          loading="lazy"
        />
        <p class="card_text card_text_strb">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
  </div>
</section>
