<section id="how-it-works" class="section-steps">
  <div class="container steps-container">
    <div class="steps-content">
      <h2 class="steps-title">
        To order your fruit basket, simply follow these easy steps
      </h2>
      <p class="steps-description">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home. Whether you're looking for a healthy snack or a thoughtful
        gift, our fruit baskets are the perfect choice.
      </p>
    </div>

    <div class="blocks">
      <ul class="steps-list list">
        <li class="steps-item">
          <div class="oval">
            <h3 class="number number-one">First Step</h3>
            <p class="instruction">
              Just choose the fruit you want to order by clicking on the
              checkboxes next to it.
            </p>
          </div>
        </li>

        <li class="steps-item">
          <div class="oval">
            <h3 class="number number-two">Second Step</h3>
            <p class="instruction">
              Click on the basket and fill out the form.
            </p>
          </div>
        </li>

        <li class="steps-item">
          <div class="oval">
            <h3 class="number number-three">Third Step</h3>
            <p class="instruction">
              Sit back and relax! Your fresh fruit basket will be delivered.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="image-container">
      <img class="steps-image" src="./img/gif/gif_desc.gif" alt="Berries" />
    </div>
  </div>
</section>
