<div class="backdrop" data-modal="2">
  <div class="modal modal-thank">
    <button
      class="modal-thank-btn js-modal-close"
      type="button"
      data-modal-close
    >
      <svg class="modal-thank-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-close-black"></use>
      </svg>
    </button>
    <img
      class="img-thank"
      srcset="./img/thankyou/thank-m.png 1x, ./img/thankyou/thank-m@2x.png 2x"
      src="./img/thankyou/thank-m.png"
      alt="raspberries"
      width="278px"
      height="239px"
    />
    <h1 class="thank-title">THANK YOU</h1>
    <p class="thank-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
