/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./howitworks.css');
@import url('./fruits.css');
@import url('./contacts.css');
@import url('./footer.css');
@import url('./yourorder.css');
@import url('./thankyou.css');

:root {
  /* Main-color */
  --white-color: #ffffff;
  --black-color: #000000;
  --black-color-alfa: rgba(0, 0, 0, 0.3);
  --red-color: #ae1332;
  --green-color: #a4cb66;
  --yellov-color: #f5ce13;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-strawberry: #f8766b;
  --color-Banana: #edd251;
  --color-Watermelon: #9dc262;
  --color-Lime: #bfd663;
  --color-Apple: #e93f29;
  --color-Peach: #db4f4b;
  --color-Plums: #9b5366;
  --color-Orange: #f47f4c;
  --color-Kiwi: #98b37e;
  --color-button-order: #9dc262;
  --pink-color: #e03f5e;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

  color: #ffffff;
  background-color: #ae1332;
}

/* CONTAINER */

.container {
  min-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
} */

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Стили для подложки */

/* .overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
} */

.backdrop {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  z-index: 30;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color-alfa);

  transition: opacity var(--transition-primary),
    visibility var(--transition-primary);
}

/* Стиль для активного стану */

.backdrop.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для модальных окон */

.modal {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%) scale(1);
}
