/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./howitworks.css');
@import url('./fruits.css');
@import url('./contacts.css');
@import url('./footer.css');
@import url('./yourorder.css');
@import url('./thankyou.css');

:root {
  /* Main-color */
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #ae1332;
  --green-color: #a4cb66;
  --yellov-color: #f5ce13;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

  color: #ffffff;
  background-color: #ae1332;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}
